<!DOCTYPE html>
<html>

<head>
    <title>Create Task</title>
</head>

<body>

    <h2>Create New Task</h2>

    {% if error %}
    <p>{{ error }}</p>
    {% endif %}

    <form method="POST">

        {% csrf_token %}

        <label>Task Title:</label>
        <br>
        <input type="text" name="title" placeholder="Enter task title" required>

        <br><br>

        <label>Task Description:</label>
        <br>
        <textarea name="description" placeholder="Enter task description" rows="5" cols="40"></textarea>

        <br><br>

        <button type="submit">
            Create Task
        </button>
        <a href="{% url 'view_tasks' %}">Cancel</a>


    </form>

</body>

</html>